@import "./_index.css";
@import "./_dashboardSwiper.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    /* Chrome, Safari, Edge, Opera */
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    /* Firefox */
    input[type="date"] {
        -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge */
    select::-ms-expand {
        display: none;
    }
    select::-webkit-inner-spin-button,
    select::-webkit-outer-spin-button,
    select::-webkit-search-cancel-button,
    select::-webkit-search-decoration {
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        background-image: none;
    }
}

body {
    font-family: "Instrument Sans", sans-serif;
}

/*.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
*/

/* Perbaikan untuk style autofill pada input dengan class .mails */
/* @media screen (max-width: 640px) {
    .mails:-webkit-autofill,
    .mails:-webkit-autofill:hover,
    .mails:-webkit-autofill:focus,
    .mails:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-text-fill-color: #fff !important;
        caret-color: #fff !important;
        transition: background-color 5000s ease-in-out 0s;
    }
} */

.mails:-webkit-autofill,
.mails:-webkit-autofill:hover,
.mails:-webkit-autofill:focus,
.mails:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #141414 !important;
    caret-color: #141414 !important;
    transition: background-color 5000s ease-in-out 0s;
}
