@import "./_index.css";
@import "./_dashboardSwiper.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    /* Chrome, Safari, Edge, Opera */
    input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    /* Firefox */
    input[type="date"] {
        -moz-appearance: textfield;
    }

    /* Chrome, Safari, Edge */
    select::-ms-expand {
        display: none;
    }
    select::-webkit-inner-spin-button,
    select::-webkit-outer-spin-button,
    select::-webkit-search-cancel-button,
    select::-webkit-search-decoration {
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        background-image: none;
    }
}

body {
    font-family: "Instrument Sans", sans-serif;
    background-color: #fffffc;
}

.mails:-webkit-autofill,
.mails:-webkit-autofill:hover,
.mails:-webkit-autofill:focus,
.mails:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #141414 !important;
    caret-color: #141414 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.swal-title {
    font-size: 1.8rem !important;
}

.no-calendar::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    left: 0; /* Ensures the calendar still shows up */
    width: 100%;
    height: 100%;
    cursor: pointer;
    -moz-appearance: textfield;
    position: relative;
    z-index: 2;
    background: transparent;
}

.gm-style .place-card-large {
    display: none;
}

.gm-style .gm-style-mtc .place-card-large {
    display: none;
}

.testimonial-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
}

.testimonialFade-sides {
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 15%,
        black 85%,
        transparent
    );
    mask-image: linear-gradient(
        to right,
        transparent,
        black 15%,
        black 85%,
        transparent
    );
}

@media (min-width: 1024px) {
    div[drawer-backdrop=""] {
        display: none !important;
    }

    .bg-gray-900\/50.fixed.inset-0.z-30 {
        display: none !important;
    }
}
